@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  text-decoration: none;
  font-style: italic;
}
  
a:hover {
  font-style: normal;
  color: #EF473C;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 0.5px;
  margin: 0;
  line-height: 26px;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
}

blockquote {
  border-left: double lightgray;
  border-width: 4px;
  padding-left: 6px;
}

img {
  width: 100%;
}

div > p:first-of-type {
  margin-top: 0;
}

div > p:last-of-type {
  margin-bottom: 0;
}

/* navbar */

#navbar {
  margin: 0 8px;
}

.logo {
  margin-bottom: 16px;
  white-space: nowrap;
  line-height: 16px;
}

.logo a {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
}

.logo a:hover {
  color: black;
}

.logo span {
  color: #EF473C;
}

.menu {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-flow: column;
}

.menu button {
  letter-spacing: 0.25px;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  text-align: left;
  margin: 2px 0;
}

.menu button:hover, .menu button:active {
  border-right: double #EF473C;
  border-width: 4px;
  padding-right: 4px;
}

.menu button:focus {
  outline: none;
}

.menu-about, .menu-work, .menu-blog {
  padding-left: 0;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 1em;
  margin: 5px 0;
}

.menu-about img, .menu-work li {
  margin: 5px 0;
}

.menu-work li {
  list-style-type: none;
}

.menu-work li:last-of-type {
  margin-top: 15px;
}

.menu-work a {
  font-style: normal;
}

.show-menu {
  display: block;
}

.hide-menu {
  display: none;
}

/* footer */

#footer {
  border-top: 1px solid #EEEEEE;
  margin-top: 15px;
  padding: 10px 8px 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
  font-size: 12px;
}

#footer span > a {
  font-style: normal;
}

#footer span > a:last-of-type {
  margin-left: 10px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px;
}

/* work landing */

.work-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 4px;
}

.col {
  margin: 0 4px;
}

.col img {
  width: 100%;
  margin: 0 0 8px 0;
}

.grid-item-container {
  position: relative;
}

.grid-item-image {
  cursor: pointer;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.grid-item-overlay {
  display: block;
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.grid-item-text {
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: clip-path 0s;
  transition-delay: 0s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

/* blog landing */

.blog-wrapper, .error-wrapper {
  margin: 0 8px;
}

.blog-wrapper > section {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #EEEEEE;
}

.blog-wrapper > section:last-of-type {
  padding-bottom: 0;
  margin-bottom: 30px;
  border-bottom: 0;
}

.blog-wrapper img, .title-date {
  margin-bottom: 30px;
}

.blog-wrapper p:first-of-type {
  margin-top: 0;
}

.blog-wrapper a > p:last-of-type {
  margin-bottom: 0;
}

.title-date h1 {
  font-style: normal;
  margin-bottom: 5px;
}

.read-more {
  margin-top: 10px;
}

.read-more p {
  font-style: normal;
}

/* work post */

.work-post-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 8px;
}

.work-post-wrapper > section {
  margin: 30px 0 0 0;
}

.jumbotron {
  height: 45vw;
  object-fit: cover;
  width: 100%;
}

.grid-one-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.grid-two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* margin: 15px 0 0 0; */
  width: 100%;
}

.grid-three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  /* margin: 15px 0 0 0; */
  width: 100%;
}

.flex-two-col {
  display: flex;
  justify-content: space-between;
}

.portrait {
  width: 100%;
  object-fit: cover;
}

.landscape {
  height: 25vw;
  width: 100%;
  object-fit: cover;
}

.title {
  white-space: nowrap;
}

.title span {
  color: #EF473C;
}

.flex-two-col h1, .flex-two-col div, .flex-two-col img, .flex-left div, .flex-left h1, .flex-right div, .credit-section div {
  width: 49%;
}

h1 + div {
  padding-top: 28px;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.credit-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.piping {
  border-left: double lightgray;
  border-width: 4px;
  padding-left: 6px;
  box-sizing: border-box;
}

/* blog post */

.blog-post-wrapper {
  margin: 0 8px;
}

.blog-post-title {
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 0.5px;
}

/* 404 */

.error-wrapper h1 {
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .flex-two-col.title-text {
    display: block;
  }

  .title-text div {
    width: 100%;
    padding-top: 30px;
  }

  .flex-left div, .flex-right div {
    width: 100%;
  }
}

@media (max-width: 650px) {
  body {
    margin-top: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 18px;
  }

  .main {
    display: flex;
    flex-flow: column;
    /* margin-left: 0;
    margin-right: 0; */
    padding-top: 0;
  }

  #navbar {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px 0 10px 0;
    background-color: white;
    z-index: 100;
  }

  .menu {
    width: 100%;
    margin-top: 16px;
  }

  .hamburger {
    display: block;
    width: 21px;
    height: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger .line {
    width: 18px;
    height: 1px;
    margin: 2px 0;
    background-color: black;
    float: left;
  }

  #footer {
    padding: 10px 0 0 0;
  }

  .col {
    margin-right: 0;
    margin-left: 0;
  }

  .blog-wrapper, .work-wrapper, .error-wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0;
  }

  .blog-post-wrapper, .work-post-wrapper {
    margin: 0;
  }

  .blog-post-title {
    font-size: 25px;
  }

  .jumbotron {
    height: 60vw;
  }

  .grid-two-col, .grid-three-col {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  img.featured-media, div.piping {
    width: 100%;
  }

  .landscape {
    height: 60vw;
  }
}

@media (min-width: 651px) {
  .hamburger {
    display: none;
  }
}